/* 自定义Drawer组件 */
.custom-drawer {
    
}
.custom-drawer:global(.ant-drawer) :global(.ant-drawer-header) {
    background:#272731;
}
.custom-drawer:global(.ant-drawer) :global(.ant-drawer-content){
    background:#272731;
}
.form-container {
    background:#363640;
    border-radius:6px;
    color:#fff;
}

.form-title {
    height:4rem;
    line-height:4rem;
    font-size:1.2rem;
    padding:0 2rem;
    color:#fff;
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}

.form-content {
    min-height:160px;
    padding:2rem;
}
.form-item {
    display:inline-flex;
    width:50%;
    align-items: center;
    margin-bottom:2rem;
}
.form-item .form-item-label {
    width:80px;
}
.form-item .form-item-control {
    flex:1;
}
.form-item-control :global(.ant-radio-group) :global(.ant-radio-wrapper) {
    color:rgba(255, 255, 255, 0.65);
}
.temp-container {
    /* height:32px;
    line-height:32px; */
}

.temp-container > span {
    display:inline-block;
    border:1px solid #03a4fe;
    padding:2px 0.5rem;
    font-size:1rem;
}

.temp-container > span:nth-child(1){
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right:none;
    color:#03a4fe;
    cursor: pointer;
}
.temp-container > span:nth-child(2){
    padding:2px 1rem;
}
.temp-container > span:nth-child(3){
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left:none;
    color:#03a4fe;
    cursor: pointer;
}

.custom-popover:global(.ant-popover) {
    height:320px;
    overflow:hidden scroll;
    background:#fff;
}
.custom-popover:global(.ant-popover) :global(.ant-popover-inner-content){
    padding:0;
}
.list-container > div {
    padding:2px 14px;
    cursor: pointer;
}
.list-container > div.selected {
    background-color:#03a4fe;
    color:#fff;
}
.list-container > div:hover {
    background:#ececec;
}
/* 自定义CustomDatePicker组件 */
.custom-datepicker:global(.ant-picker) {
    background:transparent;
    border:1px solid #1b8ffe;
}
.custom-datepicker:global(.ant-picker) :global(.ant-picker-input) > input {
    color:#fff;
}
.custom-datepicker:global(.ant-picker) :global(.ant-picker-input) :global(.ant-picker-suffix) {
    color:rgba(255, 255, 255, 0.45);
}
.custom-datepicker:global(.ant-picker) :global(.ant-picker-input) :global(.ant-picker-clear) {
    border-radius:6px;
}
/* 自定义Table组件 */
.custom-table{
    width:100%;
    background:transparent;
    border:1px solid rgba(255, 255, 255, 0.2);
    border-bottom:none;
    white-space:nowrap;
}
.custom-table > thead > tr > th {
    padding:0.5rem 1rem;
    background:rgba(255, 255, 255, 0.1);
    border-color:rgba(255, 255, 255, 0.15);
    color:#fff;
    text-align:left;
}
.custom-table > tbody > tr > td {
    padding:1rem;
    border-right:1px solid rgba(255, 255, 255, 0.15);
    border-bottom:1px solid rgba(255, 255, 255, 0.15);
    color:#fff;
}
.custom-table > tbody > tr > td:last-child {
    border-right:none;
}
.custom-table > tbody > tr:hover > td {
    background-color:transparent !important;
}

/* 自定义Select组件样式 */
.custom-select:global(.ant-select) :global(.ant-select-selector){
    background:transparent;
    color:#fff;
    border-color:#03a4fe;
}
.custom-select:global(.ant-select) :global(.ant-select-arrow) {
    color:#03a4fe;
}
.custom-select:global(.ant-select-multiple) :global(.ant-select-selector) :global(.ant-select-selection-item) {
    background-color:#03a4fe;
    border:none;
}
.custom-select:global(.ant-select) :global(.ant-select-clear) {
    background:transparent;
}
.custom-select:global(.ant-select) :global(.ant-select-clear) > :global(.anticon) {
    color:rgba(255, 255, 255, 0.8);
}
/* 自定义Radio组件 */
.custom-radio:global(.ant-radio-group) :global(.ant-radio-wrapper) {
    color:rgba(255, 255, 255, 0.8);
}
.custom-radio:global(.ant-radio-group) :global(.ant-radio-input):focus + :global(.ant-radio-inner){
    box-shadow: none;
}
/* 自定义InputNumber 组件 */
.custom-inputnumber:global(.ant-input-number) {
    background-color:transparent;
    border:1px solid #1b8ffe;
    border-left:none;
    border-right:none;
    color:#fff;
}
.custom-inputnumber:global(.ant-input-number-group-wrapper) :global(.ant-input-number-group-addon) {
    background:#3e3e42;
    color:#fff;
    border:1px solid #1b8ffe;
}
/* 自定义Modal组件样式 */
.custom-modal:global(.ant-modal) {
    width:600px;
}
.custom-modal:global(.ant-modal) :global(.ant-modal-content) {
    background:#272731;
    height:100%;
}
.custom-modal:global(.ant-modal) :global(.ant-modal-header) {
    background:#04a3fe;
    text-align: center;
    border-bottom:none;
}
.custom-modal:global(.ant-modal) :global(.ant-modal-header) :global(.ant-modal-title) {
    color:#fff;
}