.container {
    height:100%;
    position:relative;
    background-color:#091221;
}

.header-container {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:60px;
    background-color:rgba(25,37,70,0.5);
}

.border-container-vertical {
    position:absolute;
    left:0.5rem;
    width:1px;
    top:2rem;
    height:calc( 100% - 4rem);
    border:14px solid transparent;
}
.border-container-horizon {
    position:absolute;
    left:1rem;
    width:calc( 100% - 2rem );
    bottom:-4px;
    height:1px;
    border:14px solid transparent;
}
.float-container {
    position:absolute;
    top:2rem;
    bottom:2rem;
    right:1rem;
    width:24%;
    background-color:rgba(0, 0, 0, 0.7);
}
.float-container > .float-item {
    height:33.3%;
    position: relative;
    border:1px solid #283e63;
    
}

.float-item > .float-item-title {
    height:2.4rem;
    display:flex;
    align-items: center;
    border-top:3px solid #2f7dc0;
    padding:0 0.5rem;
    background:#0a2645;
    font-size:1rem;
}

.float-item > .float-item-title > .float-item-icon {
    width:25px;
    height:25px;
    display:inline-block;
    background-size:cover;
    margin-right:6px;
}
.float-item > .float-item-title > .title {
    font-size:1rem;
    /* font-weight:bold; */
    color:#fff;
}

.float-item > .float-item-content {
    height:calc( 100% - 2.4rem);
    background-color:rgba(10, 38, 69, 0.4);
}

.float-item .btn {
    font-size:0.8rem;
    margin-right: 8px;
    padding:2px 6px;
    background-color:rgba(255, 255, 255, 0.2);
    color:#fff;
    cursor: pointer;
}

.float-item .btn.selected {
    background-color:#3294d7;
}

.symbol {
    position:absolute;
    width:6px;
    height:6px;
    background-color:#ccc;
    left:-16px;
}

/* 地图自定义信息框样式 */
.info-container {
    border:1px solid #23b9f8;
    background:rgba(0, 0, 0, 0.65);
    border-radius:6px;
    padding:0.5rem 1rem;
    width:200px;
    position:absolute;
    z-index:150;
}

.info-container .info-title {
    font-size:1rem;
    color:#fff;
    text-align: center;
    margin:6px 0;
}

.info-container .info-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.info-container .data {
    font-size:1.4rem;
    font-weight:bold;
    line-height: 1.4rem;
    color:#1fa0ea;
}
.info-container .unit {
    font-size:0.8rem;
    color:#1fa0ea;
    margin:0 4px;
}
.info-container .btn, .info-container-2 .btn {
    padding:2px 6px;
    border-radius:4px;
    background:#1fa0ea;
    color:#fff;
    font-size:0.8rem;
    margin:6px 0;
    cursor: pointer;
}